@import "../../common/assets/variable.scss";

.filter-checkbox-container {
    padding: 10px 10px 10px 20px;
    label:last-child {
        margin-left: 10px;
    }
}
.mail-preview-list-container {
    .mail-preview-card {
        cursor: pointer;
        padding: 5px 10px 5px 20px;
        position: relative;
        border-bottom: 1px solid $light-gray-color-1;
        background-color: white;
        border-left: 3px solid transparent;
        animation: fadeIn 0.5s ease-in 0s 1 normal forwards;
        opacity: 0;
        p {
            margin: 0;
            font-size: 14px;
            color: $mail-preview-default-text-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 2px 0 2px 0;
            text-transform: capitalize;
        }
        &.unread-color {
            border-left-color: $light-blue-color;
            .header-line {
                color: black;
                font-weight: 600;
            }
            .subject-line {
                color: $light-blue-color;
                font-weight: 600;
            }
        }
        &.flaged {
            background-color: $flaged-mail-bg-color;
        }
        &.active {
            background-color: $folder-active-color;
        }
        &:hover:not(.active):not(.flaged) {
            background-color: $folder-hover-color;
        }
        &:hover .action-button-container {
            display: block;
        }
        .action-button-container {
            position: absolute;
            text-align: right;
            width: 100%;
            left: 0;
            padding-right: 20px;
            display: none;
            span {
                font-size: 15px;
                margin-left: 20px;
                cursor: pointer;

                &.dltBtn {
                    color: red;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

