@import "../../common/assets/variable.scss";

.folders-container {
    .search-mail-box-container {
        input {
            width: 100%;
            font-size: 15px;
            border: none;
            background-color: $folder-search-box-bg-color;
            padding: 10px;
        }
        input:focus {
            outline: none;
        }
    }
    .folder-list {
        margin-top: 40px;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                .mail-count {
                    float: right;
                    color: $light-blue-color;
                    margin-right: 10px;
                }
                color: black;
                padding: 10px 10px 10px 20px;
                display: block;
                cursor: pointer;
                &.active {
                    background-color: $folder-active-color;
                    font-weight: 600;
                    color: $light-blue-color;
                }
                &:hover:not(.active) {
                    background-color: $folder-hover-color;
                }
            }
        }
    }
}
