// Colors
$light-gray-color-1: #f3f2f1;
$light-gray-color-2: #f7f7f7;
$folder-hover-color: #e2e2e2;
$folder-active-color: #c6e0f6;
$folder-search-box-bg-color:#deecfa;
$light-blue-color: #60a0e4;
$mail-preview-default-text-color:#747474;
$flaged-mail-bg-color:#ffffa7;

// Width/Height
$view-port-min-width: 900px;
$navigation-min-width: 200px;
$mail-preview-min-width:300px;
$mail-preview-max-width:320px;
$command-line-height:37px;
$mail-detail-min-width: 200px